/*Styling our body*/
body {
    text-align: center;
    background-size: cover;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
/* adding color to span on weather app */
span{
    color: white;
}
.login{
    font-size: 29px;
    font-weight: 500px;
}
/* Adding styles to the top navigation menu */
.topnav {
    background-color: rgb(15, 11, 11);
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
    
}
  
/* Style the links inside the navigation menu */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(255, 217, 0, 0.603);
    color: white;
}

/*Styling the login page*/
#login-details {
    display: block;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 450px;
    margin: auto;
    margin-top:10%;
}
/*Styling the submission button in our login form*/
#logformsubmit {
    font-size: 20px;
}

/*Styling the text prompting us to sign up*/
#signdtls {
    font-size: 25px;
}

/*Styling our sign-up page*/
#sign-up-details {
    position: static;
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 450px;
    margin: auto;
    margin-top:10%;
}


/*Styling our main page*/
#weather-html {
    display: none;
    text-align: center;
    font-size: 15px;
}

/*Adding style to our recommendation text*/
.recommendation-details {
    text-align: center;
}

/*Styling the like button*/
button.like {
    background: #fff;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #65676b;
    padding: 5px 10px;
}
  
/*Colour change when like button is pressed*/
button.liked {
    color: #0571ed;
}

/*Styling the icon in the like button*/
button.liked i{
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
    100% {
      transform: rotate(-15deg) scale(1.3);
      -webkit-transform: rotate(-15deg) scale(1.3);
      -moz-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      -o-transform: rotate(-15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
}

/*Styling the About page*/
#Aboutinfo {
    display: none;
    text-align: center;
    font-size: 40px;
    margin: 50px 40px 40px
}

/*Hiding our feedback page till when the feedback link is pressed*/
#Feedbackinfo {
    display: none;
}

/*Styling our card located in the main page*/
.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: left;
    padding: 3em;
    border-radius: 30px;
    width: 100%;
    color: white;
    margin-top: 10%;
    background: rgba(105, 105, 105, 0.823);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;


}

/*Default style to all our buttons*/
button {
    font-size: 20px;
    border-radius: 10px;
}

/*Adding style to our recommendation text*/
#recomm {
    color: rgb(100, 186, 171);
    font-size: 25px;
}

/*hiding our alert till the feedback submission button is clicked*/
#alert {
    display: none;
}

/*Styling the comment section in our feedback page*/
#feedback-review {
    font-size: 12px;
}

/*Styling the heart icon*/
.material-icons {
    font-size: 2px;
}

/*Styling the text of our fetched output*/
#weather-container {
    text-align: left;
}

/*Adding the degree symbol to the temperature output of our fetched data*/
#temp {
    content: \00B0;
}

/*Styling the weather icons*/
img {
    margin: 0;
    padding: 0;
    float: top-right;
    height: 80px;
    width: 80px;
    float: top;
    text-align: center;
}

/*Styling the reset location button*/
#resetbtn {
    text-align: center;
}
input{
    height:1.8em;
    border: 30px;
}